# Core functionality - changes here should be rare!
/src/app.py                   @anis2366
/src/backend/database.py      @anis2366
/src/backend/routers/auth.py  @anis2366

# The frontend will need refactored soon to be more object oriented.
/src/static/   @anis2366
